input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black; width: 30%; padding: 30px 0px;
}

ul{
    list-style: none;
}

input{
    margin-top: 15px;
}